@import '../abstracts/colors';

.page-header {
  display: grid;
  grid-template-areas: 'logo auth';
  grid-template-columns: 5rem auto;
  color: $primary-text-color-inverse;
  font-weight: bold;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $primary-background-color;
  border-bottom: 2px solid $primary-line-color;
  min-height: 4rem;
}

.logo {
  grid-area: logo;
  color: $primary-text-color;
}
