@import '../abstracts/colors';

.dashboard {
  width: 100%;
  height: 85%;
  color: $text-color;
  display: grid;
  grid-template-areas: 'search-bar' 'other-content';
  grid-template-rows: 4rem 15rem auto;
  justify-items: center;
  align-items: center;
}

.search-bar {
  grid-area: search-bar;
}

.other-content {
  grid-area: other-content;
}
