$background-color: #ffffff;

$text-color: #44515d;
$text-color-light: #ffffff;

$line-color: #3d4349;

$link-color: #6558f5;

$primary-button-color: #6558f5;

$box-color: #eeeeff;

$publication-selector-color: #96c3ec;
