$primary-background-color: #ffffff;
$primary-text-color: #44515d;
$primary-line-color: #3d4349;
$primary-link-color: #6558f5;

$background-color-inverse: #44515d;
$primary-text-color-inverse: #ffffff;
$primary-line-color-inverse: #ffffff;

$primary-button-color: #6558f5;
$primary-button-color-inverse: #ffffff;
$secondary-button-color: #1dae9f;
$tertiary-button-color: #bd34d1;
$danger-button-color: #c5505e;

$box-color: #eeeeff;

$publication-selector-color: #96c3ec;
