@import './colors.scss';

.admin-menu {
  grid-area: admin-menu;
  background-color: $secondary-color;
  width: 100%;
  display: flex;
  align-items: center;

  .title {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .MuiButton-root {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: $primary-button-color;
    color: $primary-color;
    text-transform: none;
  }

  .MuiButton-root:hover {
    background-color: darken($primary-button-color, 3%);
  }
}
