@import './variables.scss';

.app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    'header'
    'body'
    'footer';
  grid-template-rows: 4em auto 4em;
}

.header {
  grid-area: header;
  background-color: $secondary-color;

  .login__button {
    background-color: $primary-color;
    float: right;
    margin: 1em;
  }
}

.body {
  grid-area: body;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
}

.footer {
  grid-area: footer;
  display: flex;
  background-color: $secondary-color;
  justify-content: center;
  align-items: center;
}
