$primary-color: #fff;
$secondary-color: #aaa;
$tertiary-color: #3d4349;

$primary-button-color: #615eec;
$secondary-button-color: #4eab9f;
$danger-button-color: #c5505e;

$text-color: #333;
$box-color: #eeeeff;
