$primary-color: #fff;
$secondary-color: #dfe6ed;
$tertiary-color: #3d4349;

$primary-button-color: #6558f5;
$secondary-button-color: #1dae9f;
$tertiary-button-color: #bd34d1;

$danger-button-color: #c5505e;

$text-color: #44515d;
$box-color: #eeeeff;
