@import './colors.scss';

.header {
  display: grid;
  grid-template-areas: 'logo auth';
  grid-template-columns: 5rem auto;
  grid-area: header;
  color: $primary-color;
  font-weight: bold;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $primary-color;
  border-bottom: 2px solid $tertiary-color;
}

.logo {
  grid-area: logo;
  color: $secondary-color;
}
