@import './variables.scss';

.header {
  display: grid;
  grid-template-areas: 'logo menu login';
  grid-template-columns: 100px auto 100px;
  grid-area: header;
  color: $primary-color;
  font-weight: bold;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.logo {
  grid-area: logo;
}

.menu {
  grid-area: menu;
}
