@import './colors.scss';

.auth {
  grid-area: auth;
  justify-self: right;
  align-items: center;

  .MuiButton-root {
    width: 8rem;
    background-color: $primary-button-color;
    color: $primary-color;
  }

  .MuiButton-root:hover {
    background-color: darken($primary-button-color, 3%);
  }
}
