@import './variables.scss';

.login {
  grid-area: login;
  justify-self: right;

  &__username {
    color: $primary-color;
  }

  &__button {
    border-radius: 4px;
    background-color: white;
  }
}
