@import './colors.scss';

.menu {
  grid-area: menu;

  .MuiButton-root {
    width: 15rem;
    background-color: $primary-button-color;
    color: $primary-color;
  }

  .MuiButton-root:hover {
    background-color: darken($primary-button-color, 3%);
  }
}

.menu-list {
  width: 15rem;
  background-color: $primary-button-color;
  border-radius: 4px;
  color: $primary-color;
}
