@import './colors.scss';

.menu {
  grid-area: menu;

  .MuiButton-root {
    width: 15rem;
    background-color: $primary-button-color;
    color: $primary-color;
  }

  .MuiButton-root:hover {
    background-color: darken($primary-button-color, 3%);
  }
}
.MuiMenu-list {
  width: 15rem;
  border-radius: 4px;
  color: $secondary-color;

  .MuiMenuItem-root {
    border-bottom: 1px solid $box-color;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    .MuiButton-root {
      width: 10rem;
    }
  }

  .MuiMenu-list {
    width: 10rem;
  }
}
