@import './colors.scss';

.resource {
  align-self: flex-start;
  flex-grow: 1;
  padding: 5rem;

  .MuiButton-root {
    margin-top: 1rem;
    margin-right: 0.5rem;
    background-color: $primary-button-color;
    color: $primary-color;
    text-transform: none;
  }

  .MuiButton-root:hover {
    background-color: darken($primary-button-color, 3%);
  }
}

.MuiTabs-flexContainer {
  background-color: lightsalmon;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: black !important;
  font-weight: bold;
}
