@import './colors.scss';

.search {
  grid-area: search;
  display: grid;
  grid-template-areas: 'filter-container search-container';
  grid-template-columns: 10rem auto;
  height: 100%;
  width: 100%;
  justify-items: center;
  padding-top: 5rem;
}

.filter-container {
  grid-area: filter-container;
}

.search-container {
  grid-area: search-container;
}

.search-bar {
  align-self: center;
  min-width: 50vw;
  max-width: 65vw;
  padding-bottom: 3rem;

  .MuiInputBase-root {
    min-width: 50vw;
  }

  &__search-container {
    display: grid;
    grid-template-areas: 'input button';
    align-items: center;
  }

  &__input {
    grid-area: input;
    margin-left: 1rem;
  }

  &__search-button {
    grid-area: button;
    justify-self: right;
  }
}

.search-results {
  padding-bottom: 1rem;

  .MuiFlatPagination-root {
    display: flex;
    justify-content: center;
  }
}
