@import './colors.scss';

.user {
  display: grid;
  grid-template-areas: 'secondary-info primary-info';
  grid-template-columns: 1fr 3fr;
  grid-gap: 3rem;
  font-size: 1rem;
  padding: 2rem;

  .secondary-info {
    display: grid;
    grid-area: secondary-info;
    grid-template-areas: 'profile-image' 'contact-info' 'language' 'author-info';
    grid-row-gap: 3rem;
  }

  .primary-info {
    display: grid;
    grid-area: primary-info;
    grid-gap: 3rem;
  }

  .card {
    background-color: $box-color;
    padding: 2rem;
  }

  &__profile-image {
    height: 10rem;
    border-radius: 50%;
  }

  &__contact-info {
    height: 10rem;
  }

  &__language {
    height: 10rem;
  }

  &__author-info {
    height: 10rem;
  }

  &__feide-info {
    display: block;
    .label {
      display: inline-block;
      width: 10rem;
    }
    .value {
      display: inline-block;
      width: 20rem;
      font-weight: bold;
    }
  }

  &__roles {
    height: 10rem;
  }

  &__organizations {
    height: 5rem;
  }

  &__orcid-info {
    height: 15rem;
  }
}
