@import './colors.scss';

.user {
  display: grid;
  grid-template-areas: 'secondary-info primary-info';
  grid-template-columns: 1fr 3fr;
  grid-gap: 3rem;
  font-size: 1rem;
  padding: 2rem;

  .secondary-info {
    display: grid;
    grid-area: secondary-info;
    grid-template-areas: 'profile-image' 'contact-info' 'language' 'author-info';
    grid-row-gap: 3rem;
    min-width: 20rem;
  }

  .primary-info {
    display: grid;
    grid-area: primary-info;
    grid-gap: 3rem;
  }

  .card {
    background-color: $box-color;
    padding: 2rem;

    &__header {
      font-size: 1.5rem;
      font-weight: bold;
      padding-bottom: 0.5rem;
    }

    &__sub-header {
      font-size: 1.3rem;
      padding-bottom: 1.5rem;
    }
  }

  &__profile-image {
    height: 14rem;
  }

  &__contact-info {
    height: 10rem;
  }

  &__language {
    padding: 0;

    .MuiFormControl-root {
      padding-top: 1rem;
      width: -webkit-fill-available;
      max-width: 15rem;
    }
  }

  &__author-info {
    height: 10rem;
  }

  &__feide-info {
    display: block;

    .line {
      padding-bottom: 0.5rem;

      .label {
        display: inline-block;
        width: 10rem;
      }

      .text {
        display: inline-block;
        width: 20rem;
        font-weight: bold;
      }
    }
  }

  &__roles {
    display: block;

    .line:first-of-type {
      border-top: 1px solid $secondary-color;
    }

    .line {
      padding-bottom: 0.8rem;
      padding-top: 0.8rem;
      display: flex;
      border-bottom: 1px solid $secondary-color;

      .MuiIcon-root {
        display: inline-block;
        width: 3rem;
      }

      .label {
        display: inline-block;
        font-weight: bold;
        width: 6rem;
      }

      .text {
        display: inline-block;
        width: 20rem;
      }
    }
  }

  &__organizations {
    height: 5rem;
  }

  &__orcid-info {
    height: 15rem;
  }
}
