@import '../../abstracts/colors';

#pub-item {
  width: 50rem;
}

.resource-description-panel {
  width: 100%;
  padding-top: 2rem;

  .header {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }

  .panel-content {
    background-color: $box-color;
    padding: 1rem;

    .field-wrapper {
      padding: 1rem;
      flex: 1 0 40%;
    }

    .multiple-field-wrapper {
      display: flex;
    }

    label {
      background-color: white;
    }

    .MuiInputBase-root {
      background-color: white;
    }

    .header {
      font-size: 1.5rem;
      margin-left: 1rem;
      margin-top: 2rem;
    }

    .MuiFormControl-root {
      width: 100%;
    }
  }
}
